<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WatchListApplication"
        android:allowBackup="true"
        android:icon="@mipmap/omniwatchlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WatchListApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WatchListApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="omniwatch"
                    android:host="callback" />
            </intent-filter>
        </activity>
    </application>

</manifest>
